// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


form#new_task, form.edit_task {
  .form-inputs {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

a {
  color: darkblue;

  &:hover {
    color: steelblue;
    background-color: transparent;
    text-decoration: none;
  }
}

.panel {
  .panel-action {
    background-color: #F9F9F9;
    border-bottom: 1px solid #DDD;
  }

  // Center 'Archived Tasks' Button
  .panel-heading {
    // Bootstrap's Grid layout is utilized here to center
    // the button in the panel header, but we must add this
    // rule to override the larger upper margin set forth
    // in application.scss.
    .row {
      margin-top: 0px;
    }
  }
}
